*{
  box-sizing:border-box;
}
body {
  padding: 50px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: beige;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "a a a a a a"
    "c c b b b e"
    "c c b b b e"
    "d d d d d d";
  gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 100%);

}

.grid-container > * {
  background-color: rgba(100,89,97,.4);
  border-radius: 8px;
  padding: 10px;
}

.header {
  grid-area: a;
}
.nav {
  grid-area: b;
}
.main {
  grid-area: c;
}
.aside {
  grid-area: d;
}
.footer {
  grid-area: e;
}

/* On screens that are 600px wide or less */
/* Create a working media query here that stacks your sections: header, nav, main, aside, footer*/
/* It should also change the background color */


@media only screen and (max-width:600px){
  body{
    background-color: pink}
  .grid-container{
     display: grid;
    grid-template-areas:
    "a a a a a a"
    "c c c c c c"
    "b b b b b b"
    "d d d d d d"
    "e e e e e e";
  }

}
